body {
  margin: 0;
  color: #333;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff0f5;
  font-family: "Segoe UI", sans-serif;
}

.seccion {
  width: 100dvw;
  display: flex;
  padding: 1rem;
  height: 100dvh;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.slider {
  width: 100%;
  height: 90%;
  overflow: hidden;
  max-width: 810px;
  background: #fff;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide .imageContainer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  border-radius: 15px 15px 0 0;
}

.textContainer {
  width: 100%;
  height: 20%;
  display: flex;
  padding: 1rem;
  margin: 0;
  align-items: center;
  background: #fff8f8;
  justify-content: center;
  border-radius: 0 0 15px 15px;
}

.frase {
  font-size: 1rem;
}

.buttonContainer {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background: #ff7da2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #ff4e78;
}

.hidden {
  display: none;
}

.cartaContainer {
  width: 100%;
  padding: 2rem;
  text-align: left;
  max-width: 810px;
  overflow-y: auto;
  background: #fff;
  max-height: 100dvh;
  position: relative;
  overflow-x: hidden;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cartaTexto {
  line-height: 1.6;
  min-height: 200px;
  font-size: 1.1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  white-space: pre-wrap;
  border-left: 3px solid #ff7da2;
}

.buttonBackContainer {
  width: 100%;
  bottom: 10px;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.buttonBackContainer #volverGaleriaBtn {
  background: #ccc;
  color: #333;
}

.buttonBackContainer #volverGaleriaBtn:hover {
  background: #aaa;
}
